* {
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
    font-size: 14px;
    line-height: 21px;
    color: #000;
    background-color: #efeff4;
    -webkit-overflow-scrolling: touch;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
    margin: .67em 0;
}

a {
    text-decoration: none;
    color: #007aff;
    background: 0 0;
}

@font-face{
    font-family:Muiicons;
    font-weight:400;
    font-style:normal;
    src:url(../../fonts/mui.ttf) format('truetype')
}

.itekui-bar {
	position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    height: 44px;
    border-bottom: 0;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
    box-shadow: 0 0 1px rgba(0,0,0,.85);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.itekui-icon {
    font-family: Muiicons;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased
}

.itekui-bar .itekui-icon {
    font-size: 24px;
    position: relative;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px
}

.itekui-bar-nav {
   top: 0;
    -webkit-box-shadow: 0 1px 6px #ccc;
    box-shadow: 0 1px 6px #ccc;
}

.itekui-icon-left-nav {
	padding-left: 10px;
	padding-right: 10px;
}

.itekui-icon-left-nav:before {
    content: '\e471';
}

.itekui-bar .itekui-title {
    right: 40px;
    left: 40px;
    display: inline-block;
    overflow: hidden;
    width: auto;
    margin: 0;
    text-overflow: ellipsis;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
    position: absolute;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    color: #000;
}

.itekui-bar-nav~.itekui-content {
    padding-top: 44px;
}

.itekui-content {
	height: 100%;
    background-color: #efeff4;
    -webkit-overflow-scrolling: touch;
}

.itekui-tab-control {
    font-size: 15px;
    font-weight: 400;
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    table-layout: fixed;
    border: 1px solid #007aff;
    border-radius: 3px;
    background-color: transparent;
    -webkit-touch-callout: none;
}

.itekui-tab-item {
	line-height: 34px;
    display: table-cell;
    overflow: hidden;
    width: 1%;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
    border: 0;
}

.itekui-tab-active {
	color: #007aff;
}

.itekui-tab-active:after{
	border-bottom: 2px solid #007aff;
	content: "";
	display:block;
}

.itekui-tab-list {
    position: absolute;
    width: 100%;
    height: auto;
    top: 80px;
    bottom: 0;
    overflow: auto;
    background-color: #fff;
}

.itekui-tab-list:before{
	position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
    top: -1px;
}

.itekui-tab-list:after{
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}

.itekui-tab-cell {
	-webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    overflow: hidden;
    padding: 11px 15px;
    -webkit-touch-callout: none;
}

.itekui-tab-cell:after {
	position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}

.itekui-tab-cell-item {
	color: #000;
    width: 100%;
    display: inline-block;
}

.itekui-tab-cell-item:after {
    font-family: Muiicons;
	content: '\e470';
	float: right;
}