.question-area {
    font-size:12px;
    background-color: #fff;
    height: auto;
    position: absolute;
    top: 45px;
    bottom: 38px;
    width: 100%;
}

.question-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 38px;
}

.question-nav a{
    display: inline-block;
    height: 38px;
    width: 49%;
    text-align: center;
    line-height: 38px;
}

.question-area .title p {
    display: inline;
}

.question-area input[type="radio"] {
    width: 18px;
    height: 18px;
}

.question-area input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.question-area textarea {
    width: 100%;
    height: 200px;
}

.question-area .options {
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
}