.page {
    width: 100%;
    height: 100%;
}

#page-question #analysis {
    position: absolute;
    right: 10px;
    bottom: 90px;
    font-size: 12px;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

#page-question #submit-page {
    position: absolute;
    right: 10px;
    bottom: 45px;
    font-size: 12px;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    width: 40px;
    line-height: 40px;
    text-align: center
}

.question-area {
    font-size:12px;
    padding: 10px;
    background-color: #fff;
    height: auto;
    position: absolute;
    top: 45px;
    bottom: 38px;
    width: 100%;
}

.question-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 38px;
    line-height: 38px;
}

.question-nav a{
    display: inline-block;
    height: 38px;
    width: 49%;
    text-align: center;
    line-height: 38px;
}

.question-area .title p {
    display: inline;
}

.question-area input[type="radio"] {
    width: 18px;
    height: 18px;
}

.question-area input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.question-area textarea {
    width: 100%;
    height: 200px;
}

.question-area .options {
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
}

.question-area .radio, .question-area .checkbox {
    border: 1px solid #bdbdbd;
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    border-radius: 12px;
    margin-right: 8px;
    color: #bdbdbd;
}

.question-area .selected > .radio, .question-area .selected > .checkbox {
    border: 1px solid #007aff !important;
    color: #fff !important;
    background: #007aff;
}

#page-answer-sheet{
    top: 44px;
    position: absolute;
    font-size: 12px;
    bottom: 0;
    height: auto;
}

#page-answer-sheet #sheet-title{
    font-size: 16px;
    display: inline-block;
    margin: 10px;
}

#page-answer-sheet #answer-sheet{
    position: absolute;
    bottom: 38px;
    background-color: #fff;
    top: 38px;
    width: 100%;
    padding-left: 10px;
}

#answer-sheet .answer-no, #result-sheet .answer-no {
    width: 24px;
    height: 24px;
    display: inline-block;
    font-size: 12px;
    border: 1px solid #bdbdbd;
    border-radius: 12px;
    text-align: center;
    line-height: 24px;
    margin: 8px;
    color: #bdbdbd;
}

#answer-sheet .answer-no-do {
    border: 1px solid #007aff !important;
    background-color: #007aff !important;
    color: #fff;
}

#page-result {
    background-color: #fff;
    top: 44px;
    position: absolute;
    font-size: 12px;
    bottom: 0;
    height: auto;
}

#result-graph {
    height: 160px;
}

#result-graph-01 {
    height: 100%;
    width: 50%;
    float: left;
}

#result-graph-02 {
    height: 100%;
    width: 50%;
    margin-left: 50%;
    text-align: center;
    padding: 20px;

}

#result-graph-02 > div {
    height: 30px;
    line-height: 30px;
}


#sheet-title{
    font-size: 16px;
    display: inline-block;
    margin: 10px;
}

#result-sheet {
    margin-left: 10px;
}

#result-sheet .answer-no-do {
    border: 1px solid #007aff !important;
    background-color: #007aff !important;
    color: #fff;
}