<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>做题</title>
    <link rel="stylesheet" type="text/css" href="./do_question.css">
    <script type="text/javascript" src="../libs/vue.min.js"></script>
</head>
<body>
<div id ="app">
    <div class="title">{{no}}.{{question.text}}</div>
    <div class="options">
        <div @click="select('A')">
            <span class="option" :class="{'selected': check('A'), 'error': checkError('A')}">A</span>{{question.opt_A}}
        </div>
        <div @click="select('B')">
            <span class="option" :class="{'selected': check('B'), 'error': checkError('B')}">B</span>{{question.opt_B}}
        </div>
        <div @click="select('C')">
            <span class="option" :class="{'selected': check('C'), 'error': checkError('C')}">C</span>{{question.opt_C}}
        </div>
        <div @click="select('D')">
            <span class="option" :class="{'selected': check('D'), 'error': checkError('D')}">D</span>{{question.opt_D}}
        </div>
        <div @click="select('E')">
            <span class="option" :class="{'selected': check('E'), 'error': checkError('E')}">E</span>{{question.opt_E}}
        </div>
        <div id="comment-info">
            <span>评论数</span>
        </div>
    </div>
    <div v-if="isNotDo" id="tools"><button id="submitAnswer" @click="submit">提交答案</button></div>
    <div v-if="isRight || isError">
        <div><span>难度:</span>{{question.degree}}</div>
        <div><span>统计:</span>{{question.stat}}</div>
        <div><span>正确答案:</span>{{question.answer}}</div>
        <div><span>大纲考点:</span>{{question.outline}}</div>
        <div><span>考点还原:</span>{{question.test}}</div>
        <div><span>答案解析:</span>{{question.analysis}}</div>
    </div>
</div>
<script type="text/javascript" src="./do_question.js"></script>
</body>
</html>
