* {
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Helvetica Neue',Helvetica,sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #000;
    -webkit-overflow-scrolling: touch;
}

[v-cloak] {
  display: none;
}

.title {
    padding-left: 20px;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
}

.options {
    padding-left: 20px;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.option {
    margin: 4px 8px;
    color: #04be02;
    border: 1px solid #04be02;
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    border-radius: 12px;
}

.selected {
    color: #fff!important;
    background-color: #04be02;
}

.error {
    color: #fff!important;
    background-color: #f00;
    border: 1px solid #f00!important;
}

#tools {
    text-align: center;
    height: 40px;
    line-height: 40px;
}

#submitAnswer {
    background-color: transparent;
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    user-select: none;
    font-size: 12px;
    color: rgb(73, 80, 96);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    padding: 8px 15px;
    transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear;
    border-color: rgb(221, 222, 225);
    outline: 0px;
    border-radius: 4px;
}

#submitAnswer:hover {
    color: rgb(87, 163, 243);
    background-color: transparent;
    border-color: rgb(87, 163, 243);
}

#comment-info {
    height: 22px;
    line-height: 22px
}

#comment-info span{
    margin-right: 20px;
    float: right;
    border: 1px solid #ececec;
    border-radius: 11px;
    padding-left: 6px;
    padding-right: 6px;
}

.analysis {
    font-size: 12px;
}

.rater {
    color: #dcdcdc;
    font-size: 18px;
}

.red {
    color: #f00 !important;
}

.red-text {
    color: #f00;
}
