<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>做题</title>
    <link rel="stylesheet" type="text/css" href="./do_question.css">
    <script type="text/javascript" src="../libs/vue.min.js"></script>
</head>
<body>
<div id ="app" v-cloak>
    <div class="title">{{no}}.{{question.text}}</div>
    <div class="options">
        <div @click="select('A')">
            <span class="option" :class="{'selected': check('A'), 'error': checkError('A')}">A</span>{{question.opt_A}}
        </div>
        <div @click="select('B')">
            <span class="option" :class="{'selected': check('B'), 'error': checkError('B')}">B</span>{{question.opt_B}}
        </div>
        <div @click="select('C')">
            <span class="option" :class="{'selected': check('C'), 'error': checkError('C')}">C</span>{{question.opt_C}}
        </div>
        <div @click="select('D')">
            <span class="option" :class="{'selected': check('D'), 'error': checkError('D')}">D</span>{{question.opt_D}}
        </div>
        <div @click="select('E')">
            <span class="option" :class="{'selected': check('E'), 'error': checkError('E')}">E</span>{{question.opt_E}}
        </div>
        <div id="comment-info">
            <span @click="showComments" class="commentCount">{{commentCount}}</span>
        </div>
    </div>
    <div v-if="isNotDo" id="tools"><button id="submitAnswer" @click="submit">提交答案</button></div>
    <div class="analysis" v-if="isRight || isError">
        <div>
            <span>【难度】</span>
            <span class="rater" :class="{red: question.degree >= 1}">★</span>
            <span class="rater" :class="{red: question.degree >= 2}">★</span>
            <span class="rater" :class="{red: question.degree >= 3}">★</span>
            <span class="rater" :class="{red: question.degree >= 4}">★</span>
            <span class="rater" :class="{red: question.degree >= 5}">★</span>
        </div>
        <div>
            <span>【统计】</span>本题{{stat.likes}}人收藏，全部考生作答{{stat.total}}次，对{{stat.ur}}次，正确率{{stat.ur * 100/stat.total | fixed2}}%。本人作答<span class="red-text">{{stat.uotal}}</span>次，对<span  class="red-text">{{stat.ur}}</span>次，正确率<span class="red-text">{{stat.ur * 100/stat.uotal | fixed2 }}%</span></div>
        <div><span class="red">【正确答案】</span>{{question.answer}}</div>
        <div><span class="red">【大纲考点】</span>{{question.outline}}</div>
        <div><span class="red">【考点还原】</span>{{question.test}}</div>
        <div><span class="red">【答案解析】</span>{{question.analysis}}</div>
    </div>
</div>
<script type="text/javascript" src="./do_question.js"></script>
</body>
</html>
