* {
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Helvetica Neue',Helvetica,sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #000;
    -webkit-overflow-scrolling: touch;
}

[v-cloak] {
  display: none;
}

.title {
    font-size: 16px;
    text-align: center;
    background-color: #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.items {
    padding: 6px;
    text-align: center;
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow: auto;
    height: auto;
}

.item {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: #f3f3f3;
    margin: 5px;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
}

.error {
    background-color: #f00;
}

.right {
    background-color: #0f0;
}