/*修改字体样式*/
body {
    font-family: "微软雅黑", sans-serif;
    font-size: 14px;
}

button, input, optgroup, select, textarea {
    font-family: "微软雅黑", sans-serif;
    font-size: 14px;
}

/*输入框label只显示4个字符*/
.mui-input-row label {
    font-family: "微软雅黑", sans-serif;
    width: 27%;
}

.mui-radio label, .mui-checkbox label {
    width: 100%;
}

.mui-input-row label ~ input, .mui-input-row label ~ select {
    float: inherit;
    width: 73%;
}
.mui-input-row .y-textarea {
    width: 73%;
    height: 120px;
    padding: 10px 15px 10px 0;
    float: right;
}

.mui-input-row .y-textarea textarea{
    height: 100%;
}
.mui-table-view-cell .mui-navigate-right label{
    width: 30%;
    display: inline-block;
}
/*表单元素高度不定死，输入框及图表垂直居中显示*/
.mui-input-row .mui-input-content {
    float: right;
    max-width: 73%;
    padding: 11px 15px 11px 0;
    line-height: 1.2em;
    word-break: break-all;
}
.mui-table-view-cell .mui-input-content{
    float: right;
    max-width: 70%;
    padding: 0;
    line-height: 1.4em;
    word-break: break-all;
}

.mui-input-row .mui-numbox {
    float: right;
    margin: 4px 8px;
    height: 32px;
}

a {
    color: #000;
}
textarea {
    height: 100px;
    margin: 0;
    padding: 10px;
    padding-left: 0;
}

.mui-input-row .mui-input-clear ~ .mui-icon-clear, .mui-input-row .mui-input-password ~ .mui-icon-eye, .mui-input-row .mui-input-speech ~ .mui-icon-speech {
    top: 50%;
    margin-top: -10px;
}

/*表单元素分割线占满行*/
.mui-table-view-cell:last-child:after,
.mui-table-view-cell:last-child:before {
    height: 1px;
}
/*时间控件 带右箭头*/
.mui-data-picker, .mui-select-view {
    position: absolute;
    top: 50%;
    right: 35px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    width: 50%;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mui-multi-select {
    margin: 0;
    padding: 5px 10px;
    background: #efeff4;
    position: relative;
}

.mui-multi-select:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio],
.mui-table-view-cell.mui-checkbox input[type=checkbox],
.mui-table-view-cell.mui-radio input[type=radio] {
    top: 50%;
    margin-top: -14px;
    right: 10px;
}

.mui-checkbox input[type=checkbox]:before,
.mui-radio input[type=radio]:before {
    top: 6px;
}

/*审批流程*/
.mui-row {
    position: relative;
}

.y-approval-item {
    position: relative;
}

.y-approval-item h4 {
    font-weight: normal;
}

.y-approval-item .y-dtpicker {
    position: relative;
}

.y-approval-item .y-dtpicker:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}

.y-approval-item .y-type {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 18px;
    z-index: 5;
}

.y-approval-agree .y-type {
    background: url("img/approval_flow.png") 0 0;
}

.y-approval-reject .y-type {
    background: url("img/approval_flow.png") -25px 0;
}

.y-approval-uncertain .y-type {
    background: url("img/approval_flow.png") -50px 0;
}

.y-approval-end .y-type {
    background: url("img/approval_flow.png") -75px 0;
}

.y-approval-start .y-type {
    background: url("img/approval_flow.png") -100px 0;
}

.y-approval-agree .y-status {
    color: #00BC0E;
}

.y-approval-reject .y-status {
    color: #FD0100;
}

.y-approval-item .y-tag {
    margin-left: 30px;
    padding: 5px 5px 5px 30px;
    border-left: 1px solid #DBDBDB;
}

.y-approval-item .y-bubble {
    border-radius: 5px;
    padding: 5px 10px;
    width: 95%;
    border: 1px solid #E0E0E0;
    position: relative;
    background-color: #fff;
}

.y-approval-item .y-bubble:before,
.y-approval-item .y-bubble:after {
    content: "";
    display: block;
    border-width: 8px;
    position: absolute;
    bottom: 50%;
    left: -16px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #E0E0E0 transparent transparent;
    font-size: 0;
    line-height: 0;
}

.y-approval-item .y-bubble:after {
    left: -14px;
    bottom: 50%;
    border-color: transparent #fff transparent transparent;
}
.y-approval-item .y-bubble .y-name{
    font-size: 16px;
    line-height: 1.4em;
}
.y-approval-item .y-bubble p {
    font-size: 13px;
    margin: 0;
}

/*选择人*/
.y-person-select {
    overflow: hidden;
}
.y-person-select .y-person-list,
.y-person-select .y-person-item {
    padding: 5px;
}

.y-person-select .y-title {
    padding: 10px 5px 0;
}

.y-person-select .y-icon {
    border-radius: 50%;
    position: relative;
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url("img/leaveApplication.png")
}
.y-person-select .y-icon:after {
    content: attr(data-afterContent);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    text-align: center;
    line-height: 20px;
    color: #fff;
}
.y-person-select .y-img {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.y-person-select .y-name {
    text-align: center;
    margin: 5px 0;
}
.y-person-select .y-text {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

/*图片操作组件*/
.y-image-list{
    width: 100%;
    padding: 5px;
}
.y-image-list .y-image-item{
    text-align: center;
    position:relative;
    z-index:2;
}
.y-image-list .y-image-item:before {
    content: "";
    display: inline-block;
    padding-bottom: 100%;
    width: 0.1px;   /*必须要有数值，否则无法把高度撑起来*/
    vertical-align: middle;
}
.y-image-list .y-image-item .y-image-wrap{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding: 5px;
}
.y-image-list .y-image-item .y-image-img{
    width:100%;
    height: 100%;
    border: 1px solid gray;
}
.y-image-list .y-image-item .y-image-btn-del{
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-image: url(img/icon_minus.png);
}
.y-image-camera, .y-image-del, .y-image-cancel-del{
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    margin: auto;
    display: inline-block;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center 30%;
    border: 1px solid gray;
}
.y-image-camera{
    background-image: url(img/icon_camera.png);
}
.y-image-del,
.y-image-cancel-del{
    background-image: url(img/icon_minus.png);
}
.y-image-camera:after,
.y-image-del:after,
.y-image-cancel-del:after{
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
}
.y-image-camera.take-photo:after {
    content: "拍摄图片";
}
.y-image-camera.select-pic:after {
    content: "选择图片";
}
.y-image-del:after{
    content: "删除图片";
}
.y-image-cancel-del:after{
    content: "取消删除";
}
.y-image-show{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1000;
}
.y-image-show img{
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 0;
    margin: 0 auto;
    -webkit-transform: translate(0,-50%);
    -moz-transform:translate(0,-50%);
    transform: translate(0,-50%);
}

/*定位组件*/
.mui-table-view-cell .y-locate-content{
    float: right;
    max-width: 70%;
    padding: 0;
    padding-right: 30px;
    line-height: 1.4em;
    word-break: break-all;
}
.y-locate-reload{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    width: 40px;
    height: 20px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(img/icon_reload.png);
}
@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

.rotation{
    -webkit-transform: rotate(360deg);
    animation: rotation 1.5s linear infinite;
    -moz-animation: rotation 1.5s linear infinite;
    -webkit-animation: rotation 1.5s linear infinite;
    -o-animation: rotation 1.5s linear infinite;
}

/*按钮*/
.y-btns{
    width: 100%;
    padding: 7px 15px;
}
.y-btns .y-btn{
    color: #fff;
    background-color: #27b5ff;
    width: 100%;
    border: none;
    height: 36px;
    border-radius: 18px;
}
.y-btn + .y-btn{
    margin-top: 5px;
}

/*表格*/
.mui-input-row + .y-table{
    border-top: none;
}
.y-table{
    width: 100%;
    border-top: 1px solid #e5e5e5;
}
.y-table tr{
    border-bottom: 1px solid #e5e5e5;
    padding: 0 5px;
}
.y-table tr:active{
    background-color: #eee;
}
.y-table th{
    padding: 10px 5px;
    background-color: #fafafa;
    font-weight: inherit;
}
.y-table td{
    padding: 10px 10px;
    min-height: 20px;
}
.y-badge{
    display: inline-block;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    background-color: rgba(0,0,0,.15);
    border-radius: 3px;
}


/*导航栏*/
.mui-segmented-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #E8E8E8;
    border-radius: inherit;
    height: 55px;
}

.mui-segmented-control .mui-control-item {
    font-size: 14px;
    line-height: 55px;
    padding: 0;
    color: #777777;
    background-color: #fff;
    border-left: 1px solid #E8E8E8;
}

.mui-segmented-control .mui-control-item.mui-active {
    position: relative;
    color: #000;
    background-color: #FAFAFA;
}

.mui-segmented-control .mui-control-item.mui-active:after {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #303030;
}

/*多行文本*/
.mui-input-row.textarea{
    padding: 10px;
    font-size: 0;
}
.mui-input-row textarea{
    padding: 0;
    height: 100px;
}

/*搜索*/
.y-select-bar:after, .y-search-bar:after,
.y-list-item-wrap:after{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}
.y-list-item-wrap:after{
    right: 15px;
    left: 15px;
}
.mui-input-group .mui-input-row {
    height: auto;
}
.y-select-bar{
    background-color: #fff;
    position: relative;
    width: 100%;
    padding: 8px;
    font-size: 0;
    height: 48px;
}
.y-select-bar-input{
    position: relative;
    display: inline-block;
    width: 31%;
    margin-right: 3%;
}
.y-select-bar-input i{
    position: absolute;
    right: 3px;
    top: 3px;
}
.y-select-bar input[type=text]{
    width: 100%;
    border: 1px solid #e1e2e4;
    height: 30px;
    padding: 4px 25px 4px 10px;
    font-size: 13px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}
.y-select-bar span{
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 31.3%;
    border: 1px solid #e1e2e4;
    border-radius: 5px;
    font-size: 13px;
    margin-right: 3%;
    padding: 4px 10px;
}
.y-select-bar span:after{
    position: absolute;
    top: 12px;
    right: 8px;
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.y-select-bar span:last-child,
.y-select-bar .y-select-bar-input:last-child{
    margin-right: 0;
}
.y-search-bar{
    background-color: #fafafa;
    position: relative;
    padding: 8px;
    font-size: 0;
}
.y-search-bar input[type=text]{
    border: 1px solid #e1e2e4;
    border-radius: 5px;
    padding: 5px 35px;
    height: 32px;
    font-size: 14px;
    background-color: #fff;
    margin: 0;
}
.mui-icon-search{
    position: absolute;
    left: 15px;
    top: 12px;
    bottom: 0;
    margin: auto 0;
}
.mui-icon-closeempty{
    position: absolute;
    right: 15px;
    top: 12px;
    bottom: 0;
    margin: auto 0;
}

/*分类多选组件*/
.y-sort-checkbox{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.y-sort-checkbox .y-total{
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    position: relative;
    background-color: #fff;
}
.y-sort-checkbox .y-content{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
}
.y-sort-checkbox .y-content-left{
    width: 100px;
    min-height: 100%;
    border-right: 1px solid #c8c7cc;
    background-color: #f9f9f9;
}
.y-sort-checkbox .mui-input-group{
    margin: 0;
}
.y-sort-checkbox .mui-input-group:before{
    height: 0;
}
.y-sort-checkbox .y-content-left .mui-table-view-cell{
    text-align: center;
    padding: 12px 5px;
    color:#a9a9a9;
}
.y-sort-checkbox .y-content-left .mui-table-view-cell.active,
.y-sort-checkbox .y-content-left .mui-table-view-cell.mui-active{
    background-color: #fff;
    color:#000;
}
.y-sort-checkbox .y-content-right{
    position: absolute;
    left: 100px;
    top: 0;
    right: 0;
    bottom: 0;
}


/*标题*/
h3{
    font-size: 14px;
    line-height: 1.2rem;
    color:#000;
    padding: 10px 15px;
    margin: 0;
}
h4{
    font-size: 14px;
    line-height: 1.2rem;
    font-weight: inherit;
    color:#000;
    padding: 8px 15px;
    margin: 0;
}
.mui-input-row h3,
.mui-input-row h4{
    margin: 0;
}
h3 + .mui-input-group,
h4 + .mui-input-group{
    margin-top: 0;
}
/*通用*/
.align-left{
    text-align: left;
}
.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}
.fl{
    float: left;
}
.fr{
    float:right;
}
.visibility{
    visibility: hidden;
}

.y-nav + .mui-content{
    padding-bottom: 50px;
}
.afterline:after{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}
/*遮罩*/
.y-mask{
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
}
.y-mask + .y-mask{
    display: none;
}
.y-loading{border:0;background-size:100%;background-image:url(img/loading.gif)}
