<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>做题</title>
       	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" type="text/css" href="./css/start_exam.css">
    </head>
    <body>
    	<div id="app">
    		<div class="aui-header">
    			<h4></h4>
    		</div>
    		<div class="question-type">
    			<span>{{current.type}}</span>
    		</div>
    		<div>{{current.text}}</div>
            <div>
                <div @click="select('A')"><span :class="{'selected': current.select == 'A'}">A</span>{{current.opt_A}}</div>
                <div @click="select('B')"><span :class="{'selected': current.select == 'B'}">B</span>{{current.opt_B}}</div>
                <div @click="select('C')"><span :class="{'selected': current.select == 'C'}">C</span>{{current.opt_C}}</div>
                <div @click="select('D')"><span :class="{'selected': current.select == 'D'}">D</span>{{current.opt_D}}</div>
                <div @click="select('E')"><span :class="{'selected': current.select == 'E'}">E</span>{{current.opt_E}}</div>
            </div>
    	</div>
    	<script type="text/javascript" src="./libs/vue.min.js"></script>
    	<script type="text/javascript" src="./libs/axios.min.js"></script>
    	<script type="text/javascript" src="./libs/start_exam.js"></script>
	</body>
</html>