html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.btn-item-creator {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    height: 32px;
    cursor: pointer;
    background-color: #ff6b33;
    border: 0;
    border-radius: 3px;
    color: #fff;
}

.pnl-btns {
    padding: 4px;
}

.pnl-btns button {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    height: 32px;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    background-color: #e0e0e0;
    color: #000;
}

.pnl-btns #save {
    background-color: #03a9f4;
    color: #fff;
}

#nav {
    position: absolute;
    top: 40px;
    padding: 0;
    width: 400px;
    border: 1px solid #e0e0e0;
    bottom: 0;
}

#nav #nav-tools {
    margin: 4px;
}

#nav #nav-question {
    position: absolute;
    top: 72px;
    width: 100%;
    bottom: 0;
    overflow: auto;
}

.nav-list {
    width: 100%;
    border-collapse: collapse;
    border:0;
}

.nav-list tr {
    height: 32px; 
}

.nav-list tr:hover, .nav-list .qe-item-select {
    background-color: #f5f5f5;
    cursor: pointer;
}

.nav-list th {
    background-color: #eee;
    text-align: center;
}

.nav-list td {
    text-align: center;
}

#editor {
    position: absolute;
    top: 40px;
    overflow: auto;
    margin-left: 410px;
    border: 1px solid #e0e0e0;
    bottom: 0;
}

#qe-title {
    padding: 20px 40px;
    border: 1px solid #eee;
    margin-left: 420px;
}

#qe-title #qe-title-main {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.qe-item-e-title {
    float: left;
}
.edui-container {
    box-shadow:none !important;
}

.qe-item-workarea .edui-container {
    margin-left:0 !important;
}

.qe-item-btn-finish {
    margin: 4px;
    display: block;
    background-color: #FF9800;
    color: #fff;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 3px;
}

.edui-toolbar {
    box-shadow:none !important;
}

.qe-item .eq-item-e-btn {
    margin: 0 0 !important;
}

#nav-item-container .qe-item:first-child .eq-item-e-up {
    display: none !important;
}

#nav-item-container .qe-item:first-child td:nth-child(3) {
    text-align: right !important;
}

#nav-item-container .qe-item:last-child .eq-item-e-down{
    display: none !important;
}

#nav-item-container .qe-item:last-child td:nth-child(3) {
    text-align: left !important;
}

.qe-item-workarea {
    background: none repeat scroll 0 0 #eff9fe;
    padding: 10px 20px;
}

#editor .qe-item-editing .qe-item-toolbar,  #editor .qe-item-editing .qe-item-workarea {
    display: block;
}
.qe-item-e-opt {
    position: relative;
    width: 60px;
    left: 630px;
    top: -240px;
}

.qe-item-e-prop thead{
    background-color: #ddd;
}

.qe-item-e-prop th, .qe-item-e-prop td{
    padding: 2px;
    text-align: center;
}

.qe-item-e-prop input {
    width: 98%;
}

.eq-item-e-btn {
    width: 20px;
    height: 20px;
    background-image: url(icoall.png?v=3);
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    margin: 0 3px 0 0;
    cursor: pointer;
}

.eq-item-e-add {
    background-position: -49px -113px;
}

.eq-item-e-del {
    background-position: -72px -113px;
}

.eq-item-e-up {
    background-position: -120px -113px;
}

.eq-item-e-down {
    background-position: -96px -113px;
}

.qe-item-e-analysis select {
    width: 72px;
}

.qe-item-e-analysis textarea {
    margin-top: 4px;
    width: 520px;
    min-height: 72px;
}