html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.btn-item-creator {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    height: 32px;
    cursor: pointer;
    background-color: #ff6b33;
    border: 0;
    border-radius: 3px;
    color: #fff;
}

#nav {
    position: absolute;
    top: 44px;
    padding: 4px;
    width: 300px;
    border: 1px solid #e0e0e0;
}

#editor {
    height: auto;
    width: 600px;
    top: 32px;
    overflow: auto;
    margin-left: 320px;
}

#editor #qe-title {
    padding: 20px 40px;
}

#editor .qe-item {
    border:1px solid #ffffff;
}

#editor .qe-item-editing {
    border: 1px solid #0095da !important;
}

#editor .qe-item:hover {
    border:1px solid #ff6600;
}

#editor #qe-title #qe-title-main {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.edui-container {
    margin-left:60px;
    box-shadow:none !important;
}

.qe-item-workarea .edui-container {
    margin-left:0 !important;
}

.edui-toolbar {
    box-shadow:none !important;
}

.qe-item-toolbar {
    text-align: right;
    display: none;
}

.qe-item-toolbar a {
    border: 1px solid #85c449;
    text-align: center;
    margin: 0px 4px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    color: #6d6e71;
    text-decoration: none;
    padding-right: 6px;
    padding-left: 6px;
    height: 23px;
    line-height: 23px;
}

.qe-item-toolbar a:hover {
    border: 1px solid #ff6600;
    color: #ff6600;
}

.qe-item-workarea {
    background: none repeat scroll 0 0 #eff9fe;
    padding: 10px 20px;
    display: none;
}

#editor .qe-item:hover .qe-item-toolbar {
    display: block;
}

#editor .qe-item-editing .qe-item-toolbar,  #editor .qe-item-editing .qe-item-workarea {
    display: block;
}
.qe-item-e-opt {
    position: relative;
    width: 200px;
    left: 430px;
    top: -240px;
}

.qe-item-e-prop thead{
    background-color: #ddd;
}

.qe-item-e-prop th, .qe-item-e-prop td{
    padding: 2px;
    text-align: center;
}

.qe-item-e-prop input {
    width: 98%;
}

.eq-item-e-btn {
    width: 20px;
    height: 20px;
    background-image: url(icoall.png?v=3);
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    margin: 0 3px 0 0;
    cursor: pointer;
}

.eq-item-e-add {
    background-position: -49px -113px;
}

.eq-item-e-del {
    background-position: -72px -113px;
}

.eq-item-e-up {
    background-position: -120px -113px;
}

.eq-item-e-down {
    background-position: -96px -113px;
}

.qe-item-e-analysis select {
    width: 72px;
}

.qe-item-e-analysis textarea {
    margin-top: 4px;
    width: 520px;
    min-height: 72px;
}